bin
obj
tbs.layout
tbs.depend
.idea/
log_game.txt
log_mgf.txt
src/log/
deploy
Makefile
src/res/shader/fragment_shader.glsl.backup
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
src/libs/mgf/CMakeFiles/
src/libs/mgf/cmake_install.cmake
.kdev4
cmake
build
